<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <maxHistory>30</maxHistory>
    </appender>

    <appender name="rollingErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <maxHistory>30</maxHistory>
    </appender>

    <appender name="errorEmail" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost></smtpHost>
        <smtpPort>465</smtpPort>
        <SSL>true</SSL>
        <username></username>
        <password></password>
        <to></to>
        <from></from>
        <subject>EZ Service error: %logger{20} - %m</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
       <!-- <appender-ref ref="rollingFile"/>
        <appender-ref ref="rollingErrorFile"/>
        <appender-ref ref="errorEmail"/>-->
    </root>

    <logger name="com.mchange.v2" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="org.redisson" level="WARN"/>
    <logger name="com.ecfront.ez.framework" level="TRACE"/>
    <!--
    <logger name="com.ecfront.ez.framework.service.rpc.http" level="TRACE"/>
    <logger name="com.ecfront.ez.framework.service.storage.jdbc" level="TRACE"/>
    -->
</configuration>
